/*for ejournals A-Z search panel*/
div.EXLResultsContainer div.EXLALMAResultsTileNoFacets{width: 100%;}
div.EXLALMAResultsTileNoFacets td.EXLThumbnail{display:none;}
#exlidSearchTile.EXLSearchEJorunals {border-top:3px solid #f4762d;margin-top:-4px!ie;height:80px; background-position:bottom; background-color:#e2e8eb; background-image:none;filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffffff,EndColorStr=#e2e8eb);
    background-image: -moz-linear-gradient(top,#fff 0,#e2e8eb 100%);
    background-image: -ms-linear-gradient(top,#fff 0,#e2e8eb 100%);
    background-image: -o-linear-gradient(top,#fff 0,#e2e8eb 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#e2e8eb));
    background-image: -webkit-linear-gradient(top,#fff 0,#e2e8eb 100%);
    background-image: linear-gradient(top,#fff 0,#e2e8eb 100%); }
#exlidSearchTile.EXLSearchEJorunals fieldset { margin-left:11em; margin-top:0.2em;}
#exlidSearchTile.EXLSearchEJorunals .EXLSearchFieldRibbonFormSearchFor{}
#exlidSearchTile.EXLSearchEJorunals  fieldset label { position:absolute; margin-top:0.5em;  margin-left:-11em;}
#exlidSearchTile.EXLSearchEJorunals .EXLSearchFieldRibbonSimpleSearchLink {float:left; margin-top:3em; margin-left:6.5em;}
#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ { text-align:center; width:95%;  display:block; }
#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ ul { list-style:none;    }
#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ li { display:inline-block; float:left; line-height:180%;width:1.6em;  font-weight: bold; font-size:100%;    }
#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ li.EXLSearchEJorunalsListAtoZSelected { background-image:url(../images/icon_arrow_AtoZ.png); background-repeat:no-repeat; background-position:45% 0%;    }
#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ li a {display:inline-block; width:1.6em ; }
#exlidSearchTile.EXLSearchEJorunals .EXLSearchEJorunalsListAtoZ li a:hover { background-image:url(../images/icon_arrow_AtoZ.png); background-repeat:no-repeat; background-position:50% 0%; }
div.EXLSearchEJorunalsListAtoZ li.EXLFindDBListHeaderAtoZSelected { background-image:url(../images/icon_arrow_AtoZ.png); background-repeat:no-repeat; background-position:45% 0%;    }
.EXLResultsListAlmaAz div.EXLREeviewsViewAllLink {display:none;}
.EXLResultsListAlmaAz div#EXLNoResultsDiv{display:none;}
